{
  "swagger": "2.0",
  "info": {
    "description": "This is the Smartclean Dashboard server",
    "version": "3.0.0",
    "title": "SCTeams"
  },
  "host": "services.smartclean.io",
  "basePath": "/api/scteams/scdashboard/",
  "tags": [
    {
      "name": "unauth & auth",
      "description": "All the Unauth and Auth APIs are listed down"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/unauth/v3/service/{serviceId}/partners/{id}/theme": {
      "get": {
        "tags": [
          "theme"
        ],
        "summary": "Get theme by partner id",
        "description": "Returns the theme info",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "description": "ID of the calling service",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of partner to return",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Theme"
            }
          },
          "401": {
            "description": "Invalid ID supplied or Theme not found"
          }
        }
      }
    },
    "/unauth/v3/service/{serviceId}/login": {
      "post": {
        "tags": [
          "login"
        ],
        "summary": "Login into the Dashboard by providing the username and password",
        "description": "Returns the Access, Id and Refresh tokens",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "description": "ID of the calling service",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "User Name",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Theme"
            }
          },
          "401": {
            "description": "Invalid ID supplied or Theme not found"
          }
        }
      }
    },
    "/auth/v3/service/{serviceId}/projects": {
      "get": {
        "tags": [
          "projects"
        ],
        "summary": "Get all projects for user",
        "description": "Returns all the projects of the user",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "scauth",
            "type": "string",
            "required": true
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "ID of the calling service",
            "required": true,
            "type": "string"
          },
          {
            "name": "getProfile",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/v3/service/{serviceId}/projects/{pid}/embeddable": {
      "get": {
        "tags": [
          "embeddable"
        ],
        "summary": "Get Project HomePage Embeddables",
        "description": "Returns Project HomePage Embeddables",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "scauth",
            "type": "string",
            "required": true
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "ID of the calling service",
            "required": true,
            "type": "string"
          },
          {
            "name": "pid",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Embeddable"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/v3/service/{serviceId}/projects/{pid}/installations/info": {
      "get": {
        "tags": [
          "insatallations info"
        ],
        "summary": "Get installations info by project",
        "description": "Returns all installations of the project",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "scauth",
            "type": "string",
            "required": true
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "ID of the calling service",
            "required": true,
            "type": "string"
          },
          {
            "name": "pid",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Installations"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/v3/service/{serviceId}/projects/{pid}/shiftDefinitions": {
      "get": {
        "tags": [
          "ShiftDefinitions"
        ],
        "summary": "Get ShiftDefinitions of a  project",
        "description": "Returns ShiftDefinitions of the project",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "scauth",
            "type": "string",
            "required": true
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "ID of the calling service",
            "required": true,
            "type": "string"
          },
          {
            "name": "pid",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ShiftDefinitions"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/v3/service/{serviceId}/projects/{pid}/team/{op}": {
      "get": {
        "tags": [
          "Team"
        ],
        "summary": "Get project team info based on the input param on op",
        "description": "Returns team members, general info or assoc",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "scauth",
            "type": "string",
            "required": true
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "ID of the calling service",
            "required": true,
            "type": "string"
          },
          {
            "name": "pid",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "op",
            "in": "path",
            "description": "Type of operation",
            "required": true,
            "type": "string",
            "enum": [
              "members",
              "general",
              "assoc"
            ],
            "default": "members"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Members"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/v3/service/{serviceId}/projects/{pid}/installations/{op}/{insid}": {
      "get": {
        "tags": [
          "Installation details"
        ],
        "summary": "Get installations info based on the input param on op",
        "description": "Returns installation areas, devices, alerts or assoc",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "scauth",
            "type": "string",
            "required": true
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "ID of the calling service",
            "required": true,
            "type": "string"
          },
          {
            "name": "pid",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "op",
            "in": "path",
            "description": "Type of operation",
            "required": true,
            "type": "string",
            "enum": [
              "alerting",
              "assoc",
              "areas",
              "devices"
            ],
            "default": "areas"
          },
          {
            "name": "insid",
            "in": "path",
            "description": "Installation ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Devices"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "definitions": {
    "Theme": {
      "type": "object",
      "properties": {
        "ATTR": {
          "type": "string",
          "format": "string"
        },
        "Details": {
          "type": "object"
        },
        "ID": {
          "type": "string",
          "format": "string"
        },
        "NS": {
          "type": "string",
          "format": "string"
        },
        "SUB1": {
          "type": "string",
          "format": "string"
        },
        "SUB2": {
          "type": "string",
          "format": "string"
        }
      }
    },
    "LoginBody": {
      "type": "object",
      "properties": {
        "uname": {
          "type": "string",
          "format": "string"
        },
        "passwd": {
          "type": "string",
          "format": "string"
        }
      }
    },
    "Project": {
      "type": "object",
      "properties": {
        "ATTR": {
          "type": "string",
          "format": "string"
        },
        "AlertMedium": {
          "type": "string",
          "format": "string"
        },
        "CreatedBy": {
          "type": "string",
          "format": "string"
        },
        "CreatedOn": {
          "type": "integer",
          "format": "int64"
        },
        "DashboardAccess": {
          "type": "boolean",
          "format": "boolean"
        },
        "Desig": {
          "type": "string",
          "format": "string"
        },
        "Email": {
          "type": "string",
          "format": "string"
        },
        "EntityType": {
          "type": "string",
          "format": "string"
        },
        "Firstname": {
          "type": "string",
          "format": "string"
        },
        "ID": {
          "type": "string",
          "format": "string"
        },
        "Lastname": {
          "type": "string",
          "format": "string"
        },
        "Mute": {
          "type": "boolean",
          "format": "boolean"
        },
        "NS": {
          "type": "string",
          "format": "string"
        },
        "Phonenum": {
          "type": "string",
          "format": "string"
        },
        "RFID": {
          "type": "string",
          "format": "string"
        },
        "Role": {
          "type": "string",
          "format": "string"
        },
        "SUB1": {
          "type": "string",
          "format": "string"
        },
        "SUB2": {
          "type": "string",
          "format": "string"
        },
        "SUB3": {
          "type": "string",
          "format": "string"
        },
        "SUB4": {
          "type": "string",
          "format": "string"
        },
        "Status": {
          "type": "string",
          "format": "string"
        },
        "UID": {
          "type": "string",
          "format": "string"
        }
      }
    },
    "Embeddable": {
      "type": "object",
      "properties": {
        "ATTR": {
          "type": "string",
          "format": "string"
        },
        "E": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "ID": {
          "type": "string",
          "format": "string"
        },
        "NS": {
          "type": "string",
          "format": "string"
        },
        "PID": {
          "type": "string",
          "format": "string"
        }
      }
    },
    "Installations": {
      "type": "object",
      "properties": {
        "ATTR": {
          "type": "string",
          "format": "string"
        },
        "CreatedBy": {
          "type": "string",
          "format": "string"
        },
        "CreatedOn": {
          "type": "integer",
          "format": "int64"
        },
        "ID": {
          "type": "string",
          "format": "string"
        },
        "InsID": {
          "type": "string",
          "format": "string"
        },
        "Mute": {
          "type": "boolean",
          "format": "boolean"
        },
        "NS": {
          "type": "string",
          "format": "string"
        },
        "PID": {
          "type": "string",
          "format": "string"
        },
        "SUB1": {
          "type": "string",
          "format": "string"
        },
        "SUB2": {
          "type": "string",
          "format": "string"
        },
        "UpdatedBy": {
          "type": "string",
          "format": "string"
        },
        "UpdatedOn": {
          "type": "integer",
          "format": "int64"
        },
        "devices_count": {
          "type": "object",
          "format": "object"
        },
        "fileUrl": {
          "type": "string",
          "format": "string"
        },
        "locn": {
          "type": "string",
          "format": "string"
        },
        "name": {
          "type": "string",
          "format": "string"
        },
        "offdays": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "offtimes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ShiftDefinitions": {
      "type": "object",
      "properties": {
        "ATTR": {
          "type": "string",
          "format": "string"
        },
        "Data": {
          "type": "object",
          "format": "object"
        },
        "Description": {
          "type": "string",
          "format": "string"
        },
        "ID": {
          "type": "string",
          "format": "string"
        },
        "NS": {
          "type": "string",
          "format": "string"
        },
        "PID": {
          "type": "string",
          "format": "string"
        },
        "SUB4": {
          "type": "string",
          "format": "string"
        },
        "ShiftId": {
          "type": "string",
          "format": "string"
        }
      }
    },
    "Members": {
      "type": "object",
      "properties": {
        "AlertMedium": {
          "type": "string",
          "format": "string"
        },
        "Desig": {
          "type": "string",
          "format": "string"
        },
        "Email": {
          "type": "string",
          "format": "string"
        },
        "Firstname": {
          "type": "string",
          "format": "string"
        },
        "Lastname": {
          "type": "string",
          "format": "string"
        },
        "Mute": {
          "type": "boolean",
          "format": "boolean"
        },
        "NFC": {
          "type": "string",
          "format": "string"
        },
        "NS": {
          "type": "string",
          "format": "string"
        },
        "Phonenum": {
          "type": "string",
          "format": "string"
        },
        "RFID": {
          "type": "string",
          "format": "string"
        },
        "Role": {
          "type": "string",
          "format": "string"
        },
        "SUB1": {
          "type": "string",
          "format": "string"
        },
        "SUB2": {
          "type": "string",
          "format": "string"
        },
        "SUB3": {
          "type": "string",
          "format": "string"
        },
        "Status": {
          "type": "string",
          "format": "string"
        },
        "UID": {
          "type": "string",
          "format": "string"
        }
      }
    },
    "Devices": {
      "type": "object",
      "properties": {
        "ATTR": {
          "type": "string",
          "format": "string"
        },
        "Alias": {
          "type": "string",
          "format": "string"
        },
        "BoardRevision": {
          "type": "string",
          "format": "string"
        },
        "Conn": {
          "type": "string",
          "format": "string"
        },
        "CreatedBy": {
          "type": "string",
          "format": "string"
        },
        "CreatedOn": {
          "type": "integer",
          "format": "int64"
        },
        "Devid": {
          "type": "integer",
          "format": "int64"
        },
        "Display": {
          "type": "string",
          "format": "string"
        },
        "ID": {
          "type": "string",
          "format": "string"
        },
        "InsID": {
          "type": "string",
          "format": "string"
        },
        "NS": {
          "type": "string",
          "format": "string"
        },
        "PID": {
          "type": "string",
          "format": "string"
        },
        "Params": {
          "type": "object",
          "format": "object"
        },
        "SUB1": {
          "type": "string",
          "format": "string"
        },
        "SUB2": {
          "type": "string",
          "format": "string"
        },
        "SUB3": {
          "type": "string",
          "format": "string"
        },
        "SUB4": {
          "type": "string",
          "format": "string"
        },
        "SubType": {
          "type": "string",
          "format": "string"
        },
        "Type": {
          "type": "string",
          "format": "string"
        },
        "UpdatedBy": {
          "type": "string",
          "format": "string"
        },
        "UpdatedOn": {
          "type": "integer",
          "format": "int64"
        },
        "isVirtual": {
          "type": "integer",
          "format": "int64"
        }
      }
    }
  }
}
